<section class="container-fluid p-3">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h3>Celso de Almeida</h3>
                <p class="lead">Nome do Projeto: CRUD de Cliente</p>
                <hr />

                <div class="alert alert-danger" role="alert">

                    <p>Info:</p>
                    <p> Ola, querido usuario o swagger Ui não está funcionando, mais é possivel testar as API pelo POSTMAN. </p>
                </div>

            </div>
        </div>
    </div>
</section>

<footer class="fixed-bottom border-top bg-dark">
    <p class="p-3 text-center text-light">&copy; Celso Almeida Leite Filho - @DateTime.Now.Year</p>
</footer>
