<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>MeuSite</title>
    <link href="~/bootstrap/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">My CrudCliente</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/clientes">Clientes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/swagger">Swagger UI API</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/bootstrap/lib/js/bootstrap.bundle.js"></script>
</body>
</html>